*{
  text-decoration: none;
}
a{
  color: #ff0091;
}
header , header nav.navbar-inverse {
  background: black;
  border-color: transparent;
}
header .navbar{
  margin-bottom: 0!important;
}
header ul.nav{
  float: right;
}
header .navbar-collapse {
    overflow-x: visible;
    padding-right: 0px;
    padding-left: 0px;
}
header nav .container-fluid {

    padding-right: 0px;
    padding-left: 0px;
}

header .navbar-inverse .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
}
header .navbar-inverse .navbar-nav > .active > a, header .navbar-inverse .navbar-nav > .active > a:hover, header .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ff0091;
    background-color: transparent;
}
header .navbar-header .navbar-brand {
    color: white;
    text-transform: uppercase;
}
header .navbar-header h1{
  margin-top: 0;
}
header li.dropdown{
    padding:16px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

header .navbar-inverse .navbar-nav > .active > a, header .navbar-inverse .navbar-nav > .active > a:hover,header .navbar-inverse .navbar-nav > .active > a:focus,header li:hover {
   color: #ff0091;
  background-color: #080808;
}
/*header .body-wrap:before, header .body-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

header .body-wrap:after {
  top: auto;
  bottom: 0;
}

 .body-wrap {
  position: relative;
  z-index: 0;
}
*/


header .nav > li.dropdown:hover,header .nav > li.dropdown:hover {
  position: static; 
}
header .dropdown-menu{
   border:0px solid #c4c4c4!important;
   box-shadow: none!important;
}
header .nav > li.dropdown:hover .dropdown-menu {
  padding: 0;
  height: auto;
  width: 101%;
  margin-right: -2px;
  /*margin-top: 2px;*/
  text-align: right; 
  left:auto; 
  right:0; 
  background-color: #f2f2f2;
 
  border-radius:0;
}
header .dropdown-menu>li { 
  display: inline-block; 
}
header .nav > li.dropdown:hover .dropdown-menu li a{
  color: #505050;
  padding: 4px 10px;
  text-transform: capitalize;
  font-weight: 600;
}
header .nav > li.dropdown:hover .dropdown-menu li a:hover{
  color:  #ff0091;
  background-color: #f2f2f2;
}



/*index blogs*/


.blog-post{
  margin-top: 40px;
  border-bottom: 2px solid #ff0091;
}
.blog-img{
  height: 350px;
  overflow:hidden;
}
.blog-post h2{
  margin-bottom: 20px;  
}
.blog-post h2 a{
  color:  #333333;
  font-size: 24px;
  text-decoration: none;
}
.blog-post h2 a:hover{
     color:  #ff0091;
     font-weight: 600;
} 
.mrg-top{
  margin-top: 40px; 
}

/*single blog*/
.in-blog-post h2{
  color:  #ff0091;
}
.in-blog-post time{
   color:  #333333;
   font-size: 13px;
   font-weight: 600;
}
.in-blog-img img{
  width: 100%;
}
.in-random-posts div.row{
  padding-bottom: 10px;
  border-bottom: 1px solid #ff0091;
  margin-bottom: 10px;
}
.in-random-posts div.col-md-4{
  max-height: 50px;
  overflow: hidden;
}
.in-random-posts h2{
  margin-top: -4px;
  margin-bottom: 0;
  line-height: 14px;
  padding: 0;
}
.in-random-posts h2 a{
  color: #333333;
  font-size: 12px;
}
.in-random-posts h2 a:hover{
  color: #ff0091;
    text-decoration: none;
}
.in-random-posts .col-md-4 {
  padding-left: 0px; 
  padding-right: 8px;
}
.in-random-posts .col-md-8{
  padding-left: 8px; 
  padding-right: 0px;
}
/*footer*/


footer{
  padding: 20px 0;
  background: black;
}
footer , footer nav.navbar-default{
  background: black;
  border-color: transparent;
}
footer .navbar{
  margin-bottom: 0!important;
}

footer ul.nav{
  float: right;
}
footer .navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
}
footer .navbar-default .navbar-nav > .active > a, footer .navbar-default .navbar-nav > .active > a:hover, footer .navbar-default .navbar-nav > .active > a:focus {
    color: #ff0091;
    background-color: transparent;
}
footer .navbar-default .navbar-nav > li > a:hover, footer .navbar-default .navbar-nav > li > a:focus ,  footer .navbar-default .navbar-brand:hover,footer  .navbar-default .navbar-brand:focus{
  color: #ff0091;
  background-color: transparent;
}

footer .navbar-default .navbar-brand {
    color: white;
    text-transform: uppercase;
}

footer .soc-icons a i{
  color: white!important;
  font-size: 22px;
}
footer  .soc-icons .nav > li > a:hover, footer .soc-icons .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
   
}
footer  .soc-icons .nav > li > a:hover i, footer .soc-icons .nav > li > a:focus i{
 color: #ff0091;
}
footer .soc-icons a i:hover{
  color:  #ff0091!important;

} 
footer .navbar-default .navbar-brand{
  font-size: 22px;
}




