/*/*#movie-element-img{
    width:184px;
    border-radius: 4px;
}
/* Movie Element */
/*.movie-element {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    margin-right: 7px;
    width: 188px;
    cursor:pointer;
}


.movie-element .numbering {
    background: url(../images/sprite.png) -703px -558px no-repeat;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 10px;
    left: 0;
    line-height: 25px;
    z-index: 1;
}

.movie-element .numbering em {
    color: #fff;
    text-shadow: 0 1px 0 #373737;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    width: 25px;
    display: block;
    font-style: normal;
}
*/
.movie-element .views-corner {
    background: url(../images/views-corner-bg.png) top left repeat-x;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    height: 100px;
    padding: 5px 10px;
    color: #b9b9b9;
    font-size: 10px;
    font-family: 'BPGMrgvlovani', sans-serif;
    text-shadow: 0 1px 0 #282523;
    border-radius: 5px 5px 0 0;
    text-align: right;
}

.movie-element .views-corner em {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
}

.movie-element .trailer-btn {
    position: absolute;
    height: 20px !important;
    display: block;
    cursor: pointer;
    background: url('../images/trailer.png');
    background-position: 0% 2px !important;
    background-repeat: no-repeat;
    width: 105px;
    text-align: right;
    color: #262626;
    font-size: 14.7px;
    font-family: sanSBold;
}

.movie-element .notrailer{
    opacity: .5;
    cursor:default;
}



.movie-element .info-icon {
    background: transparent url('../images/sprite.png') no-repeat -639px -551px;
    height: 38px;
    width: 38px;
    display: none;
    position: absolute;
    top: 15px;
    left: 5px;
    cursor: pointer;
    text-indent: -9999px;
    text-transform: uppercase;
    z-index: 2;
}



.movie-element .movie-overlay {
    background: url('../images/movie-item-overlay-bg.png');
    border-radius: 3px;
    height: 23px;
    line-height: 23px;
    padding: 0 8px;
    position: absolute;
    left: 4px;
    right: 4px;
    top: 216px;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: none;
}

.movie-element .movie-overlay span {
    color: #B1B1B1;
    font-weight: normal;
    font-family: 'BPGMrgvlovani', sans-serif;
    font-size: 11px;
}

.movie-element .movie-overlay em {
    line-height: 23px;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
}

.movie-element .movie-overlay .info-left {
    float: left;
}

.movie-element .movie-overlay .info-right {
    float: right;
}

.movie-element .episode-overlay {
    background: rgba(0, 0, 0, 0.75);
    font-family: 'BPGMrgvlovaniCaps', sans-serif;
    font-size: 9px;
    top: 174px;
    left: 2px;
    right: 2px;
    line-height: 25px;
    text-align: center;
    display: block;
}

.movie-element .episode-overlay em {
    float: none !important;
    font-size: 9px;
}

.movie-element .episode-overlay span {
    font-weight: bold;
    font-family: 'BPGMrgvlovaniCaps', sans-serif;
    font-size: 9px;
}

.movie-element-size-1 .episode-overlay.movie-overlay {
    padding: 0;
}



.movie-element .movie-titles {text-decoration: none;text-align: left;}

.movie-element .movie-titles .title-ge {
    color: #00649B;
    font-family: 'BPGMrgvlovani', sans-serif;
    font-size: 11px;
    line-height: 15px;
    display: block;
    margin-bottom: 5px;
    font-style: normal;
}

.movie-element .movie-titles .title-en {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #818181;
    display: block;
    line-height: 12px;
    font-style: normal;
}


.movie-element .preview-right {
    right: 188px;
    left: auto;
    width: 396px;
    z-index: 1;
}

.movie-element .z-preview-right {
    right: -12px;
    left: auto;
}
.movie-element .preview-right .inner {
    /*width: 385px;*/
    
}

.search-page-body .movie-element .preview-right,
.search-page-body .movie-element .z-preview-right {
    /*right: -12px;*/
}

.movie-element .preview-right .thumb,
.movie-element .z-preview-right .thumb {
    float: right;
    margin: 9px 9px 9px 0;
    margin-right:-200px;
}

.movie-element .preview-right .views,
.movie-element .z-preview-right .views {
    border-radius: 0 4px 0 0;
    left: 0;
    right: auto;
}

.movie-element .preview-right .watchlist-btn,
.movie-element .z-preview-right .watchlist-btn{
    color: #767575 !important;
    font-family: Arial,bpg_mrgvlovani_caps_2010!important;
    font-size: 12.7px!important;
    position: absolute!important;
    bottom: 5px!important;
    left: 134px!important;
    width: 160px;
    top: auto !important;
}

div.remove-from-watchlist  {
    color: #767575 !important;
    font-family: Arial,bpg_mrgvlovani_caps_2010!important;
    font-size: 12.7px!important;
    position: absolute!important;
    bottom: 4px!important;
    left: 140px!important;
    width: 150px;
    top: auto !important;
}


.movie-element .preview-right .inner > .posterOverlay{
    width: 185px;
    height: 276px;
    background-image: url('../images/posterOverlay.png');
    position: absolute;
    top: 2px;
    margin-left: 385px;
    border-radius: 4px;
}

.preview-block > .inner > .posterOverlay{
    width:185px;
    height:276px;
    background-image:url('../images/posterOverlay.png');
    position: absolute;
    top: 2px;
    margin-left: -140px;
    border-radius: 4px;
}

.movie-element .preview-right .inner > .posterOverlayNolang{
    width:185px;
    height:276px;
    background-image:url('../images/posterOverlayNolang.png');
    position: absolute;
    top: 2px;
    margin-left: 392px;
    border-radius: 4px;
}

.preview-block > .inner > .posterOverlayNolang{
    width:185px;
    height:276px;
    background-image:url('../images/posterOverlayNolang.png');
    position: absolute;
    top: 2px;
    margin-left: -199px;
    border-radius: 4px;
}

.preview-block > .inner > .posterOverlay a >.play, .preview-block > .inner > .posterOverlayNolang a >.play{
    background: url('../images/playBigNew.png') center center no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 1px;
}

.preview-block > .inner > .posterOverlay a >.play, .preview-block > .inner > .posterOverlayNolang a >.play:hover{
    background: url('../images/playBigNewH.png') center center no-repeat;
}


.preview-block > .inner > .posterOverlay a >.play2, .preview-block > .inner > .posterOverlayNolang a >.play2{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 1px;
}


.posterLangs{
    position:absolute;
    bottom:1px;
    color:#fff;
    width:130px;
    z-index:2;
}
.movie-element-size-1  .posterLangs{
    width:188px!important;
}
a.posterLang.inactive:hover {
	color: #696969 !important;
}

a.posterLang:hover {
	text-decoration: none !important;
	color: #fff !important;	
	
}


.posterLang{
    font-family: Arial,bpg_mrgvlovani_caps_2010;
    float: left;
    margin: 6px;
    width: 30px;
    text-align: center;
    cursor:pointer;
    text-decoration:none;
    color:#fff;
}

.inactive{
    color:#696969;
}

.soundClass{
    background-position: 0px 11px !important;
    padding-left: 18px !important;
    display: block;
    padding: 12px;
    border-bottom: solid 1px #CCCCCC;
    cursor:pointer;
    color:#6f6f6f;
    background: url('../images/trailer.png');
    background-repeat: no-repeat;
}

.movieHiddenMessage{
    position: absolute;
    z-index: 1;
    color: #fff;
    margin-top: 200px;
    margin-left: 370px;
    font-family: BPGMrgvlovani, serif;
    padding: 5px;
}