.clear{
	clear: both;
}
.center_content , #singleContent{
	width: 1000px;
	margin: 0 auto;
	background: white;
}

.left_content{
	width: 242px ;
	float: left;
	background: white;
	margin-left: 8px;
}
.right_content{
	width: 720px ;
	float: left;
	margin:15px;
	
}
.mv_center{
	padding-left: 15px;
	padding-bottom: 40px;
	position: relative;
	border:2px solid #ccc;
	/*overflow: hidden;*/
}
.mv_center_corner{
	width: 200px;
	height: 40px;
	background:white;
	border-top:2px solid #ccc;
	position: absolute;
	right:-2px ;
	bottom: -4px;
}
.mv_center_corner:before{
	content: "";
	display: inline-block;
	width: 52px;
	height: 36px;
	 -ms-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
	border-top: 2px solid #ccc;
	position: absolute;
	left: -33px;
	top: 11px;
	background: white;
	z-index: 1;
	font-size: 24px;
}
/*start recomendations*/

.recomend h2{
	padding:6px!important;
	font-size: 14px!important;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	width:80%;
	text-transform: capitalize;
	position: relative;
	background: white;
	margin-bottom: 0!important;
	color: #d3d3d3;
	font-weight: bold;
	z-index: 2;
}

.recomend h2:after{
	content: "";
	display: inline-block;
	width: 37px;
	height: 31px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 1px solid #d3d3d3; 
	position: absolute;
	left: 91%;
	top: 8px;
	background: white;
	z-index: 1;
}
.rec-block{
	border: 1px solid #d3d3d3;
	margin-top: -2px;
	overflow: hidden;
	padding: 20px 0 10px;
	
}
.rec-info h3{
	margin-top: 0!important;
	margin-bottom: 6px!important;
}


/*end recomendations*/
.rec-item{
	margin: 0 8px;
	padding: 8px;
	border-bottom: 1px solid #d3d3d3;
}
.rec-item:last-child{
	border-bottom: 0;
}
.rec-img{
	padding-left: 0!important;
	padding-right: 8px!important;

}
.rec-img img{
	background: white;
	border: 1px solid gray;
	padding: 2px;
}
.rec-info{
		padding-left: 8px!important;
	padding-right: 0!important;
}
.rec-info h3{
	font-weight: bold;
	font-size: 12px!important;
}
.rec-info h3 a{
	color: black;
	
}
.rec-info h4 {
	font-size: 11px!important;
	margin-top: 4px!important;
}
.rec-info h4 a{
	color: #A0A0A0;
}
.rec-info p{
	margin-bottom: 4px!important;
}
.stars{
color: #259d3e;
}




/*tabs*/



.top-movies-main ul.tabs {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
.top-movies-main ul.tabs li {
	float: left;
	width:22%;
}
.top-movies-main ul.tabs li:last-child{
	width:25%;
}
/* Style the links inside the list items */
.top-movies-main ul.tabs li a {
	width: 100%;
	height: 20px;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 3px ;
    text-decoration: none;
    font-size: 11px;
    position: relative;
   	z-index: 1;
   	
}
.top-movies-main ul.tabs li a.active{
	background: white!important;
	border-top: 1px solid #d3d3d3; 
	border-left: 1px solid #d3d3d3; 
}


.top-movies-main ul.tabs li a.active:after{
	content: "";
	display: inline-block;
	width: 28px;
	height: 26px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 1px solid #d3d3d3; 
	position: absolute;
	left: 76%;
	top: 5px;
	background: white;
	z-index: -5;
	font-size: 24px;
	
}
.top-movies-main ul.tabs{
	margin-bottom: -2px;
}
.top-movies-main ul.tabs li:first-child a{
	background:#d3d3d3;
}
.top-movies-main ul.tabs li{
	position: relative;

}
.top-movies-main ul.tabs li span{
	width: 100%;
	height: 20px;
	display: block;
	background:#d3d3d3;
	position: absolute;
	top:0;
	left:0;
	z-index: 0;
	transform: skew(45deg);
}


/* Change background color of links on hover */

.top-movies-main ul.tabs li:hover li a{
	background: white;
	border-top: 1px solid #d3d3d3; 
	border-left: 1px solid #d3d3d3; 
}
.top-movies-main ul.tabs li:hover li span{
	background: white;
}
.top-movies-main ul.tabs li:hover a:after{
	display: block;
}
/* Create an active/current tablink class */
/*ul.tabs li a:focus, .active {background-color: #ccc;}*/

/* Style the tab content */
.top-movies-main .cont {
    padding: 6px 20px;
    border-top: none;
    border: 1px solid #d3d3d3;
}



/*top item*/
.top_item{
	background:  rgb(255, 255, 255);
	border-bottom: 1px solid #DFDFDF;
	padding: 6px 0;
}
.top_item:last-child{
	border-bottom: 0px;
}
.top_item:hover{
	background:#F0F0F0;
}
.top_num{
    color: #05A342;
    font: bold 11px Verdana, Arial, sans-serif;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}
.top_cont h2{
	font-size: 14px;
    cursor: pointer;
    margin: 3px 0!important;
}
.top_cont h2 a{
	color: #6A6967;
}
.top_cont h3{
	font: 11px Verdana, Arial sans-serif;
    margin: 3px 0!important;
} 
.top_cont h3 a{
	color: #AFAFAF;
}
.top_count{
    text-align: right;
    color: #05A342;
    font: 10px Verdana, Arial, sans-serif;
    cursor: pointer;
    padding-top: 10px;
}



/*end top item*/



/*serials */
.serials{
	margin-top: 30px;
	position: relative;
}
.serial_inner{
	border:2px solid rgba(245,94,94,1);
	margin-top: -9px;
	padding:  10px 12px 50px;
}
.serials ul.tabs li{
	float: left;
	list-style-type: none;
	width:180px;
}
.serials ul.tabs li a{
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	/*background: rgba(245,94,94,1);*/
	/*border-left: 2px solid white;*/
	color: white;
	text-decoration: none;
	position: relative;
   	z-index: 1;
   	text-indent: 10px;
}	
.serials ul.tabs li a.active{
	background: white!important;
	border-top: 2px solid rgba(245,94,94,1);
	border-left: 2px solid rgba(245,94,94,1);
	color: rgba(245,94,94,1);
}
.ser_corner{
	width: 200px;
	height: 40px;
	background:white;
	border-top:2px solid rgba(245,94,94,1);
	position: absolute;
	right: 0;
	bottom: 0;
}
.ser_corner:before{
	content: "";
	display: inline-block;
	width: 53px;
	height: 36px;
	 -ms-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
	border-top: 2px solid rgba(245,94,94,1); 
	position: absolute;
	left: -16%;
	top: 12px;
	background: white;
	z-index: 1;
	font-size: 24px;
}
.serials ul.tabs{
	margin-bottom: -2px;
}
.serials ul.tabs li{
	position: relative;
}
.serials ul.tabs li:first-child a{
	background:rgba(245,94,94,1);  
}
.serials ul.tabs li span{
	width: 95%;
	height: 30px;
	line-height: 30px;
	display: block;
	background:rgba(245,94,94,1); 
	position: absolute;
	top:0;
	left:0;
	z-index: 0;
	transform: skew(45deg);
	display: inline-block;
	margin-left: 18px;
	padding-top: 6px;
}

.serials ul.tabs li a.active:after{
	content: "";
	display: inline-block;
	width: 42px;
	height: 22px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 2px solid rgba(245,94,94,1); 
	position: absolute;
	left: 164px;
	top: 10px;
	background: white;
	z-index: -5;
	font-size: 24px;
	
}
/*.serials ul.tabs li:last-child a.active:after{
	left: 91%;
	top: 12px;
}*/
.serials ul.tabs li a.active li span{
	display: none;
}




/* end serials */

/*news*/

.news {
	margin: 20px 0;
}

.news h3{
	padding:6px!important;
	font-size: 14px!important;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	width:20%;
	text-transform: capitalize;
	position: relative;
	background: white;
	margin-bottom: 0!important;
	color: #d3d3d3;
	font-weight: bold;
	z-index: 2;
}

.news h3:after{
	content: "";
	display: inline-block;
	width: 38px;
	height: 31px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 1px solid #d3d3d3; 
	position: absolute;
	left: 89%;
	top: 8px;
	background: white;
	z-index: 1;
	font-size: 24px;
}
.news div.row{
	margin-bottom: 10px;
}
.news_inner{
	border: 1px solid #d3d3d3;
	margin-top: -2px;
	overflow: hidden;
	padding:30px 20px 10px;
}
.news_inner col-md-3{
	padding-left: 8px!important;
	padding-right: 8px!important;
}
.news_item{
	padding-left: 8px!important;
	padding-right: 8px!important;
}
.news_top{
	margin:0px 2px 4px ; 
	font-weight:bold; 
	text-align:left;
	height:32px;
	overflow:hidden;
	font-size: 11px;
}
.news_top span{
	color:#389A6B; 
	font:bold 11px Verdana, Arial;
}
.news-item-text{
	font-size: 11px;
}
div.icon_border_top_box_office {
    padding: 1px;
    border: 1px solid grey;
}



/*genero*/
.genero {
	margin-bottom: 20px;
}
.genero h2{
	padding:6px!important;
	font-size: 16px!important;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	width:20%;
	text-transform: capitalize;
	position: relative;
	background: white;
	margin-bottom: 0!important;
	color: #d3d3d3;
	font-weight: bolder;
	z-index: 2;
}
.genero h2:after{
	content: "";
	display: inline-block;
	width: 40px;
	height: 31px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 1px solid #d3d3d3; 
	position: absolute;
	left: 89%;
	top: 8px;
	background: white;
	z-index: 1;
	font-size: 24px;
}
.inner_genero{
	border: 1px solid #d3d3d3;
	margin-top: -2px;
	overflow: hidden;
	padding:30px 20px 10px;
}
.genero div.row{
	margin-left: 0;
	margin-right: 0;
}
.inner_genero ul li{
	list-style-type: none;
}
.inner_genero ul li a{
	color: #2F5E4A !important;
	font-weight: bold !important;
}
.inner_genero ul li a:hover{
	color:#C00 !important;
}
.inner_genero ul li a.active{
	color:#C00 !important;
}





/*movies slider*/



.anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
	width: 100% !important;
}

.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

div.home-page-slides, div.movie-page-slides {
	clear: both;
	/* height: 245px; */
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

div.home-page-slides div.home-page-slide-item, div.movie-page-slides div.movie-page-slide-item, div.recommended-movies-item {
	float: left;
	/* overflow: hidden; */
	/* overflow: visible !important; */
}

div.home-page-slide-item {
	width: auto !important;
	height: auto !important;
}

.anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}

.movie-element {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	margin-right: 6px;
/*	width: 157px;*/
}

.movie-element-size-1 {
	width: 130px;
	height: 220px;
}

.home-page-sliders * {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

.anythingSlider .anythingBase {
	list-style: none;
}

.home-page-sliders {
	padding: 0px 24px 0px 24px;
	overflow: hidden;
	width: 1020px;
	margin: 0px auto;
}

.clearfix, div#program-list ul {
	min-height: 1%;
}

div.slider-tabs {
	float: right;
}

div.slider-tabs-left {
    float: left;
}

.slide-animated-class{ 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
    background:red;
    padding:1px 3px;
    color:White;
    margin-top:5px;
    margin-left:50px;
    font-size:14px;
    position:absolute;
    z-index:5;
} 

/*.anythingSlider .arrow i {
	display: block;
	visibility: hidden;
}
*/
.anythingSlider-movie .back, .anythingSlider-home .back, .anythingSlider-tv-show .back{
    position: absolute;
    top: 110px;
    left: -14px;
    color: red;
}
.anythingSlider-movie .back  a i, .anythingSlider-home .back  a i, .anythingSlider-tv-show .back a i {
	color:#ccc;
	font-size: 16px;
}
.anythingSlider-movie .forward, .anythingSlider-home .forward, .anythingSlider-tv-show .forward{
	 position: absolute;
    top: 110px;
    right: -14px;
    color: red;
}
.anythingSlider-movie .forward  a i, .anythingSlider-home .forward  a i, .anythingSlider-tv-show .forward  a i{
		color:#ccc;
			font-size: 16px;
}




/*gray tabs */


.gray_tabs{
	margin-top: 30px;
	position: relative;
}
.gray_inner{
	border:2px solid #ccc;
	padding:  15px 12px 50px;
	margin-top: -4px;
}
.gray_tabs ul.tabs li{
	float: left;
	list-style-type: none;
	width: 140px;
	text-align: center;
}
.gray_tabs ul.tabs li a{
	/*background: rgba(245,94,94,1);*/
	/*border-left: 2px solid white;*/
	width: 100%;
	display: inline-block;
	color: white;
	text-decoration: none;
	position: relative;
   	z-index: 1;
   	padding: 3px 0;
}	
.gray_tabs ul.tabs li a.active{
	background: white!important;
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	color: #ccc;
}
.gray_tabs .carousel-control ,.gray_tabs .carousel-control:focus, .gray_tabs .carousel-control:hover{
	color:  #ccc!important;
}
.gray_corner{
	width: 200px;
	height: 40px;
	background:white;
	border-top:2px solid #ccc;
	position: absolute;
	right: 0;
	bottom: 0;
}
.gray_corner:before{
	content: "";
	display: inline-block;
	width: 53px;
	height: 36px;
	 -ms-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
	border-top: 2px solid #ccc;
	position: absolute;
	left: -16%;
	top: 12px;
	background: white;
	z-index: 1;
	font-size: 24px;
}
.gray_tabs ul.tabs{
	margin-bottom: -2px;
}
.gray_tabs ul.tabs li{
	position: relative;
}
.gray_tabs ul.tabs li:first-child a{
	background:#ccc;
}
.gray_tabs ul.tabs li span{
	width: 96%;
	height: 22px;
	margin-top: 9px;
	line-height: 30px;
	display: block;
	background:#ccc;
	position: absolute;
	top:-8px;
	left:0;
	z-index: 0;
	transform: skew(45deg);
	display: inline-block;
	margin-left: 18px;
	padding-top: 6px;
}
.gray_tabs ul.tabs li a.active:after{
	content: "";
	display: inline-block;
	width: 31px;
	height: 26px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 2px solid #ccc; 
	position: absolute;
	left: 91%;
	top: 5px;
	background: white;
	z-index: -5;
	font-size: 24px;
	
}
/*.gray_tabs ul.tabs li:last-child a.active:after{
left: 91%;
	top: 12px;
}*/
.gray_tabs ul.tabs li a.active li span{
	display: none;
}


/*end gray tabs */

.right_content{
	background: white;
}

/*film*/
.film_info h1{
	margin-bottom: 0px;
    color: #179A4A;
    font: 20px Tahoma,Verdana,sans-serif;
    font-weight: bold;
}
.film_info .film_durat{
	color: #333;
    font: 11px Tahoma,Verdana,sans-serif;
    margin-top: 6px;
    font-weight: bold;
    font-size: 14px;
}
.film_info_box{
/*	margin-top: 20px;*/
	position: relative;
	overflow: hidden;
}
.film_info_box>div{
	padding-right: 0!important;
	padding-left: 0!important;
}
.film_info .film_info_title{
    font: bold 12px Tahoma,Verdana;
}

.film_info .film_info_value{
        font: 11px Tahoma,Verdana,sans-serif;
}
ul.info_right li{
	list-style-type: none;
	padding-left: 10px;
}
ul.info_right li:before {
  content: "\f061"; 
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 10px;
  width: 4px ;
  color: #179A4A;
  font-weight: bold;
}
ul.info_right li a{
	    color: #000;
    font: bold 12px Tahoma,Arial,sans-serif;
    text-decoration: none;
}
ul.info_right li a:hover{
	color: #179A4A;
}
.green_mile{
	display: block;
	width: 3px;
	height: 110%;
	background: #179A4A;
	position: absolute;
	top:-10px;
	left:12%;
}
.film_download_box{
	margin-top: 40px;
}
.film_download_box>div{
	padding-left: 0!important;
}
.border{
	border:1px solid #9D9D9F;
	background: #ccc;
	background: -webkit-linear-gradient(white, #ccc);
    background: -o-linear-gradient(white, #ccc);
    background: -moz-linear-gradient(white, #ccc); 
    background: linear-gradient(white, #ccc); 
    margin-bottom: 10px;
}
.vote_div{
	text-align: center;
	padding: 4px 0;
    font: 10px Verdana,Arial;
    color: #8C8B89;
    font-weight: bold;
}
.vote_div i{
	color: #179A4A;
	font-size: 14px;
}
.download_box{
    padding: 4px;
    text-align: center;
    color: #333;
    font: 11px Tahoma,Verdana,sans-serif;
}
.download_box span{
	    color: #179A4A;
    font: 12px Verdana;
}
.info_mini_text{
	text-align: center;
	padding: 4px;
	border:1px solid #9D9D9F;
	background: #EAEBE8;
}
.info_mini_text h3{
	color: #333;
    font: 11px Tahoma,Verdana,sans-serif;
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 6px!important;
}
.info_mini_text ul li{
	list-style-type: none;
}
.sinopsis{
	margin-top: -20px;
	margin-bottom: 10px;
}
.sinopsis h2{
	padding:6px!important;
	font-size: 14px!important;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	width:120px;
	text-transform: capitalize;
	position: relative;
	background: white;
	margin-bottom: 0!important;
	color: #d3d3d3;
	font-weight: bold;
	z-index: 2;
}

.sinopsis h2:after{
	content: "";
	display: inline-block;
	width: 37px;
	height: 31px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 1px solid #d3d3d3; 
	position: absolute;
	left: 102px;
	top: 8px;
	background: white;
	z-index: 1;
} 
.sinopsis .sin_inner{
border: 1px solid #d3d3d3; 
background: white;
padding: 16px 10px;
margin-top: -2px;
}

.proxim{
	padding: 4px;
    color: #CC0000;
    font: bold 12px Verdana, Arial;
    background: #EAEBE8;
}


/*end film*/





/*gray tabs */


.film_peliculas{
	margin-top: 30px;
	position: relative;
}
.film_peliculas_inner{
	border:2px solid #ccc;
	padding:  15px 12px 50px;
	margin-top: -4px;
}
.film_peliculas ul.tabs li{
	float: left;
	list-style-type: none;
	width: 170px;
	text-align: center;
}
.film_peliculas ul.tabs li a{
	/*background: rgba(245,94,94,1);*/
	/*border-left: 2px solid white;*/
	width: 100%;
	display: inline-block;
	color: white;
	text-decoration: none;
	position: relative;
   	z-index: 1;
   	padding: 3px 0;
}	
.film_peliculas ul.tabs li a.active{
	background: white!important;
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	color: #ccc;
}

.film_peliculas_corner{
	width: 200px;
	height: 40px;
	background:white;
	border-top:2px solid #ccc;
	position: absolute;
	right: 0;
	bottom: 0;
}
.film_peliculas_corner:before{
	content: "";
	display: inline-block;
	width: 53px;
	height: 36px;
	 -ms-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
	border-top: 2px solid #ccc;
	position: absolute;
	left: -16%;
	top: 12px;
	background: white;
	z-index: 1;
	font-size: 24px;
}
.film_peliculas ul.tabs{
	margin-bottom: -2px;
}
.film_peliculas ul.tabs li{
	position: relative;
}
.film_peliculas ul.tabs li:first-child a{
	background:#ccc;
}
.film_peliculas ul.tabs li span{
	width: 96%;
	height: 22px;
	margin-top: 9px;
	line-height: 30px;
	display: block;
	background:#ccc;
	position: absolute;
	top:-8px;
	left:0;
	z-index: 0;
	transform: skew(45deg);
	display: inline-block;
	margin-left: 18px;
	padding-top: 6px;
}
.film_peliculas ul.tabs li a.active:after{
	content: "";
	display: inline-block;
	width: 29px;
	height: 26px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 2px solid #ccc; 
	position: absolute;
	left: 155px;
	top: 6px;
	background: white;
	z-index: -5;
	font-size: 24px;
	
}

.film_peliculas ul.tabs li a.active li span{
	display: none;
}




/*trailers film*/



.film_trailers {
	margin: 20px 0;
}

.film_trailers h3{
	padding:6px!important;
	font-size: 14px!important;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	width:20%;
	text-transform: capitalize;
	position: relative;
	background: white;
	margin-bottom: 0!important;
	color: #d3d3d3;
	font-weight: bold;
	z-index: 2;
}

.film_trailers h3:after{
	content: "";
	display: inline-block;
	width: 38px;
	height: 31px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 1px solid #d3d3d3; 
	position: absolute;
	left: 89%;
	top: 8px;
	background: white;
	z-index: 1;
	font-size: 24px;
}
.film_trailers_inner{
	border: 1px solid #d3d3d3;
	margin-top: -2px;
	overflow: hidden;
	padding:30px 20px 10px;
}

/* end trailers film*/


/*coment*/




.coment {
	margin: 20px 0;
}

.coment h3{
	padding:6px!important;
	font-size: 14px!important;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	width:20%;
	text-transform: capitalize;
	position: relative;
	background: white;
	margin-bottom: 0!important;
	color: #d3d3d3;
	font-weight: bold;
	z-index: 2;
}

.coment h3:after{
	content: "";
	display: inline-block;
	width: 38px;
	height: 31px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 1px solid #d3d3d3; 
	position: absolute;
	left: 89%;
	top: 8px;
	background: white;
	z-index: 1;
	font-size: 24px;
}
.coment_inner{
	border: 1px solid #d3d3d3;
	margin-top: -2px;
	overflow: hidden;
	padding:30px 20px 10px;
}





/*end coment*/






/*genero*/
.film_genero {
	margin-bottom: 20px;
}
.film_genero h2{
	padding:6px!important;
	font-size: 12px!important;
	border-left: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	width:100px;
	text-transform: capitalize;
	position: relative;
	background: white;
	margin-bottom: 0!important;
	color: #d3d3d3;
	font-weight: bolder;
	z-index: 2;
}
.film_genero h2:after{
	content: "";
	display: inline-block;
	width: 34px;
	height: 31px;
	 -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
	border-top: 1px solid #d3d3d3; 
	position: absolute;
	left: 83px;
	top: 7px;
	background: white;
	z-index: 1;
	font-size: 24px;
}
.inner_genero_film{
	border: 1px solid #d3d3d3;
	margin-top: -2px;
	overflow: hidden;
	padding:30px 20px 10px;
}
.film_genero div.row{
	margin-left: 0;
	margin-right: 0;
}
.inner_genero_film ul{
	padding-left: 0!important;
}
.inner_genero_film ul li{
	list-style-type: none;
	text-align: left;
}
.inner_genero_film ul li a{
	color: #2F5E4A !important;
    font: 14px Sylfaen, Verdana, sans-serif;
}
.inner_genero_film ul li a:hover{
	color:#C00 !important;
}
.inner_genero_film ul li a.active{
	color:#C00 !important;
}




/*inner film*/


.pauseBanner {
    position: absolute;
    top: 10px;
    display: block;
    left: 10px;
  display:none;
  z-index: 2147483647;
}
.jwvideo{z-index: 0;}
span.jwbackground, span.jwcapRight, span.jwcapLeft {
opacity: .4;
background-color: #0094FF;
}
div#nextSerieDiv {
background-image: url('http://staticnet.adjara.com/imagesNew/nextSerie.png');
width: 213px;
height: 49px;
background-repeat: no-repeat;
left: 20px;
position: absolute;
z-index: 1;
opacity: .7;
bottom: 60px;
cursor:pointer;

}
div#nextSerieDiv:hover{
opacity:1;
}

span.jwtimeSliderRail {
  background: #454545!important;
  height: 6px!important;
  top: 12px!important;
}
span.jwtimeSliderCapLeft {
  background: none!important;
}
span.jwtimeSliderCapRight {
  background: none!important;
}
div#player_display_button {
  background: rgba(124, 132, 136, 0.3)!important;
  border-radius: 4px;
}

span.jwgroup.jwcenter {
  left: 0px!important;
  right: 0px!important;
  width: 100%;
  top: -20px;
  opacity:.6!important;
}
#player_controlbar .jwtime .jwrail {
  left: 5px;
  right: 3px;
}
span.jwslider.jwdivider {

  background: #fff;
  width: 1px;
  height: 10px;
  top: 10px;
}
span.jwbackground, span.jwcapLeft, span.jwcapRight {
  background: none!important;
}

#player_controlbar .jwcc{
  margin-right: 5px;
  height: 28px;
}

#player_controlbar .jwhd{
  /*background: #35648C;*/
  margin-right: 5px;
  height: 28px;
}

div#player_display_button {
  background: none!important;
}

#player_display_button #player_display_button_play {
  background-image: url(http://staticnet.adjara.com/imagesNew/playBigNew.png);
  background-repeat: no-repeat;
  width: 87px;
  height: 63px;
}

#player .jwdisplay:hover #player_display_button_play {
background-image: url(http://staticnet.adjara.com/imagesNew/playBigNewH.png);
}

/*span.jwtimeSliderProgress {
  border-right: solid 1px #FFFFFF;
  height: 6px;
  top: 12px;
}*/

.pauseDiv {
  bottom: 85px;
  margin-left: 50%!important;
  left: -370px;
  color: rgb(255, 255, 255);
  position: absolute;
  margin-right: auto;
  z-index:999999999;
}

div#player_controlbar_timetooltip {
  bottom: 20px!important;
}



.closePauseAd {
  position: absolute;
  right: 0px;
  top: 8px;
  padding: 6px;
  background-color: #0083CA;
  cursor: pointer;
  display:none;
}
.n-search-inner {
  position: absolute;
  top: 112px;
  width: 100%;
  z-index: 4;

}

button.lightbulb {
    background: url(http://staticnet.adjara.com/images/lightoff.png)!important;
    background-repeat: no-repeat!important;
    top: 5px;
}

.ccc button{
  background: none!important;
    color: rgba(204, 204, 204, 0.48);
    font-weight: bold;
    font-size: 14px;
  margin-right:4px;

}
.ccc{
  background: none!important;
      margin-right: 10px;
}
.cccdiv span{
    cursor:pointer;
    color: rgba(204, 204, 204, 0.48);
    font-size: 12px;
    padding: 8px;
}
.cccdiv{
      width: 200px;
    padding-top: 8px;
    /*display:none;*/
}
.cccdiv span:hover {
   background: #35648c;
    color: #fff;
}
.cccdiv span.active {
    background: #35648c;
    color: #fff;
    padding: 8px;
}
.ccc:hover  .cccdiv{
  display:block;
}
.mmm{
	position: absolute;
	top:30px;
	right: 0;
}
.mmm #social{
	width: 180px;
	position: absolute;
	right: 0;

}
#movie-full-information > #right-movie-block > .movie-info-tabs {
	position: relative;
}
._2tga._49ve {
    overflow: hidden;
}
.desc_title{
	margin-top: 10px;
	font-size: 22px;
}
.in-blog-post{
	padding:15px;
	color: #505050;
	border: 1px solid #ccc;
}
.in-blog-post h1{
	font-size: 24px;
	
}
.in-blog-post time{
	font-size: 13px;
	font-weight: 600;
}
#sliderTop{
	height: 300px;
	width: 964px;
}
.anythingSlider-default .arrow a {
	width: 23px!important;
}
.topMovies .anythingSlider-default .back a {
  background-position: 5px 30px!important;
}
.topMovies .anythingSlider-default .forward a {
    background-position: -15px 30px!important;
}
.anythingSlider-default .anythingControls{
	display: none!important;
}
.anythingSlider-default.activeSlider .anythingWindow{
	border: 0px!important;
	border-color: transparent!important;
}
.anythingSlider-default {
    margin: 0 auto;
    padding: 0 27px 20px!important;
}

.serials .pagin{
	width: 40px;
	height: 24px;
	position: absolute;
	right: 0;
	bottom: 0;
	
}
.serials #sliderTop{
	height: 300px;
	width: 692px;
}
.serials .pagin a{
	display: inline-block;
	width: 15px;
	height: 24px;
	background: url(../images/default.png) no-repeat;
	cursor: pointer;
}
.serials .pagin a.next{
	 background-position: right 0px!important;
}
.ajaxslider{
	overflow: hidden;
	position: relative;
	height: 300px;
	width: 692px;
}

.ajaxslider .animated{
	position: absolute;
	height: 300px;
	width: 692px;
	 transition: width 2s;
    -webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
}

