            <div data-id="198" class="item-box">

                <a href="/movies/view/{{item.id}}">
                    <div class="movie-element-main-image">
                        <img ng-src="{{item.image}}"/>
                    </div>
                    <span class="numbering"><em>{{item.number}}</em></span>
                    <span style="text-align: right !important;" class="views-corner">View: <em>{{item.views}}</em></span>
                    <span class="movie-titles">
                        <em class="title-ge">{{item.title}}</em>
                        <em class="title-en">{{item.slogan}}</em>
                    </span>
                    
                </a>
                <div class="movie-overlay clearfix">
						<em class="info-left">{{ item.year }} <span> Year</span></em>
						<em class="info-right"><span style="font-family:Arial, sans-serif">IMDB:</span> {{item.imdb}}</em>
					</div>
		
            </div>
